.nav-item {
	color: grey;
	cursor: pointer;
}
.navigation {
	background-color: lightgrey;
}

.top-line {
	height: 20px;
	widows: 100%;
	background-color: #24292e;
}

button.nav-button {
	color: grey;
}

.nav-menu {
	position: fixed;
	width: 100%;
	z-index: 1;
}
